.table
  &--ctn
    border 1px solid #eaeaea
    border-radius 4px
    background-color white
  &--title
    &-ctn
      padding 10px 5px
      border-bottom 1px solid #eaeaea
      border-radius 4px
      background-color #08afcb
    &-style
      color white

